/************ IMAGES ******************/
img {
    width: 175px;
    height: 175px;
  }
  
body { /* Visual */
    background: black;
  }

/*  div {
    font-family: monospace;
    font-size:20px;
    color: green;
  }*/
    
h1 {
  font-family: monospace;
  font-size: 150px;
  color: red;
  text-align: center;
  background: darkblue;}

h2 {
  font-family: monospace;
  font-size: 150px;
  color: white;
  /* Typography */
  text-align: center;
  /* Visual */
  background: darkblue;
}

  #display {
    font-family: monospace;
    font-size: 40px;
    color: blue;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: black;
  }
  
  #wrapper {
    /* Box-model */
    width: 500px;
  
    /* Positioning */
    margin: 50px auto 0;
  }
  
  #buttons { /* Typography */
    text-align: center;
    color: black;
    position: center;
  }
  
  button {
    width: 100px;
  
    /* Box-model */
    height: 50px;
  }
  
  #laps {
    width: 100%;
    height: 200px;
  
    /* Positioning */
    margin-top: 20px;
  
    /* Box-model */
    overflow: auto;
  
    /* Typography */
    text-align: center;
  
    /* Visual */
    background: white;
  }
  
  